{% include "page-breadcrumbs", title: {{ page.title }} %}


{% comment %}
{% form 'contact' %}
{% if form.posted_successfully? %} Thank you for your contact {% endif %}
{{ form.errors | default_errors }}
<label for="ContactFormName">name</label>
<input type="text" id="ContactFormName" name="contact[name]">
<label for="ContactFormEmail">email</label>
<input type="email" id="ContactFormEmail" name="contact[email]">
<label for="ContactFormPhone">phone</label>
<input type="tel" id="ContactFormPhone" name="contact[phone]">
<label for="ContactFormMessage">message</label>
<textarea rows="10" id="ContactFormMessage" name="contact[body]"></textarea>
<input type="submit" value="send">
{% endform %}
{% endcomment %}

<section class="contact section">
    <div class="container">
        <div class="row">
            <div class="contact-form col-md-6 ">

                {% form "contact" %}

                {% if form.posted_successfully? %}
                <h2
                    style="color:white; background: green; border-radius: 5px; font-size: 18px; padding: 10px; text-align: center;">
                    Thank
                    you for contacting with us</h2>
                {% endif %}

                {{ form.errors | default_errors }}

                <div class="form-group">
                    <input type="text" placeholder="Your Name" class="form-control" name="contact[name]" id="name">
                </div>

                <div class="form-group">
                    <input type="email" placeholder="Your Email" class="form-control" name="contact[email]" id="email">
                </div>

                <div class="form-group">
                    <input type="text" placeholder="Subject" class="form-control" name="contact[subject]" id="subject">
                </div>

                <div class="form-group">
                    <textarea rows="6" placeholder="Message" class="form-control" name="contact[message]"
                        id="message"></textarea>
                </div>

                <div>
                    <input type="submit" id="contact-submit" class="btn btn-transparent" value="Submit">
                </div>

                {% endform %}

            </div>

            <div class="contact-details col-md-6 ">
                <ul class="contact-short-info list-unstyled">

                    {% if settings.address != blank %}
                    <li class="mb-4">
                        <i class="fa fa-home contact-icon pr-4"></i>
                        <span>{{ settings.address }}</span>
                    </li>
                    {% endif %}

                    {% if settings.phone != blank %}
                    <li class="mb-4">
                        <i class="fa fa-phone contact-icon pr-4"></i>
                        <span>{{ settings.phone }}</span>
                    </li>
                    {% endif %}

                    {% if settings.fax != blank %}
                    <li class="mb-4">
                        <i class="fa fa-fax contact-icon pr-4"></i>
                        <span>{{ settings.fax }}</span>
                    </li>
                    {% endif %}

                    {% if settings.email != blank %}
                    <li class="mb-5">
                        <i class="fa fa-envelope-o contact-icon pr-4"></i>
                        <span>{{ settings.email }}</span>
                    </li>
                    {% endif %}

                </ul>
                <div class="social-icon">
                    <ul>
                        <li><a class="fb-icon" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>